body{
  overflow: hidden;
}
.wrapper{
  display:grid;
  grid-template-columns: 15% 85%;
}
.tickers{
  height: 90vh;
  overflow-y: auto;
}
.add-ticker{
  height: 10vh;
  width: 100%;
}
.stats{
  height: 100vh;
  overflow-y: auto;
}
#loading-spinner{
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
}
#stock-canvas{
  //width: 100%;
}
